In [1]:
import json
dt_dir = {
    'dir_db':'D:/Michael/github_projects/five_minute_midas/data/db/',
    'dir_train':'D:/Michael/github_projects/five_minute_midas/data/train/',
    'dir_models':'D:/Michael/github_projects/five_minute_midas/data/models/',
    'dir_mlflow':'file:/D:/Michael/github_projects/five_minute_midas/mlflow',
}
json.dump(dt_dir, open('dir.txt', 'w'))

# Test API

In [46]:
import json
import requests
import pandas as pd

url = 'http://localhost:5000/df_c'
headers = {'content-type': 'application/json', 'Accept-Charset': 'UTF-8'}
r = requests.post(url, json='{"sym":"BYND", "time_str":"1330"}', headers=headers)
data = json.loads(r.text)
df = pd.DataFrame(**data)
df['datetime'] = pd.to_datetime(df['datetime'], unit='ms')
df

,datetime,close,sma9,sma180,rsi14,vwap,sma9_var,sma180_var,vwap_var,spread14_e,...,open_from_prev_close_var,ceil,ceil_var,floor,floor_var,sym,actual_buy_price,profit,is_profit,proba
0,2020-12-09 09:30:00,141.850006,140.631668,140.868852,69.463373,141.793335,0.008663,0.006965,0.000400,0.001608,...,0.00803,141.850006,0.000000,141.850006,0.000000,BYND,142.320007,NaN,False,NaN
1,2020-12-09 09:31:00,142.520004,140.852780,140.877186,74.984423,141.914178,0.011837,0.011661,0.004269,0.001882,...,0.00803,142.520004,0.000000,141.850006,0.004723,BYND,142.720001,NaN,False,NaN
2,2020-12-09 09:32:00,142.320007,141.051114,140.885714,70.865623,141.930325,0.008996,0.010181,0.002746,0.001954,...,0.00803,142.520004,-0.001403,141.850006,0.003313,BYND,142.574997,NaN,False,NaN
3,2020-12-09 09:33:00,142.720001,141.290002,140.895317,73.947808,142.129780,0.010121,0.012951,0.004153,0.001768,...,0.00803,142.720001,0.000000,141.850006,0.006133,BYND,142.145004,NaN,False,NaN
4,2020-12-09 09:34:00,142.574997,141.523890,140.904067,71.014796,142.177592,0.007427,0.011859,0.002795,0.001803,...,0.00803,142.720001,-0.001016,141.850006,0.005111,BYND,142.309998,NaN,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234,2020-12-09 13:25:00,139.929993,140.750607,143.566340,29.182800,144.021170,-0.005830,-0.025329,-0.028407,0.001357,...,0.00803,147.029999,-0.048290,139.929993,0.000000,BYND,139.649994,NaN,False,NaN
235,2020-12-09 13:26:00,139.789993,140.587273,143.528367,27.515288,143.993806,-0.005671,-0.026046,-0.029194,0.001214,...,0.00803,147.029999,-0.049242,139.789993,0.000000,BYND,139.380005,NaN,False,NaN
236,2020-12-09 13:27:00,139.649994,140.418384,143.492534,25.920268,143.984591,-0.005472,-0.026779,-0.030105,0.001100,...,0.00803,147.029999,-0.050194,139.649994,0.000000,BYND,139.296005,NaN,False,NaN
237,2020-12-09 13:28:00,139.380005,140.209496,143.454534,23.135005,143.970453,-0.005916,-0.028403,-0.031885,0.001240,...,0.00803,147.029999,-0.052030,139.380005,0.000000,BYND,139.399994,NaN,False,NaN
238,2020-12-09 13:29:00,139.296005,139.980298,143.415540,22.331014,143.946628,-0.004888,-0.028724,-0.032308,0.001090,...,0.00803,147.029999,-0.052601,139.296005,0.000000,BYND,139.179993,NaN,False,NaN

In [47]:
df[df['proba'].notnull()]

,datetime,close,sma9,sma180,rsi14,vwap,sma9_var,sma180_var,vwap_var,spread14_e,...,open_from_prev_close_var,ceil,ceil_var,floor,floor_var,sym,actual_buy_price,profit,is_profit,proba
183,2020-12-09 12:34:00,142.020203,142.310021,144.402871,27.235546,144.467202,-0.002037,-0.0165,-0.016938,0.000734,...,0.00803,147.029999,-0.034073,141.850006,0.0012,BYND,142.240005,-0.031109,False,0.456743

In [7]:
df

      sym            datetime  my_index     proba            datetime_update
0     SNE 2020-12-02 15:14:00       261  0.066312 2020-12-03 21:59:57.225305
1      PS 2020-12-02 10:50:00        19  0.531183 2020-12-03 21:59:57.649241
2    AUDC 2020-12-02 11:14:00        32  0.487287 2020-12-03 21:59:58.514539
3      BR 2020-12-02 12:49:00       106  0.118324 2020-12-03 21:59:58.972319
4    FORM 2020-12-02 14:51:00       220  0.066202 2020-12-03 21:59:59.254658
..    ...                 ...       ...       ...                        ...
723    PS 2020-12-02 10:50:00        19  0.531183 2020-12-03 22:12:49.925326
724  AUDC 2020-12-02 11:14:00        32  0.487287 2020-12-03 22:12:51.130538
725    BR 2020-12-02 12:49:00       106  0.118324 2020-12-03 22:12:51.840912
726  FORM 2020-12-02 14:51:00       220  0.066202 2020-12-03 22:12:52.267024
727  FORM 2020-12-02 15:01:00       227  0.054470 2020-12-03 22:12:52.267024

[728 rows x 5 columns]

In [9]:
pd.to_datetime(df['datetime_update']

0     2020-12-03 21:59:57.225305
1     2020-12-03 21:59:57.649241
2     2020-12-03 21:59:58.514539
3     2020-12-03 21:59:58.972319
4     2020-12-03 21:59:59.254658
                 ...
723   2020-12-03 22:12:49.925326
724   2020-12-03 22:12:51.130538
725   2020-12-03 22:12:51.840912
726   2020-12-03 22:12:52.267024
727   2020-12-03 22:12:52.267024
Name: datetime_update, Length: 728, dtype: datetime64[ns]

In [26]:
df['datetime'].astype('str').to_list()[0][:10]

'2020-11-30'

In [19]:
df_raw = df.copy()
df1 = (df
        .sort_values('proba',ascending=0)
        .drop_duplicates(subset=['sym'], keep='first'))
df1 = df1[['sym', 'proba']]
df1 = df1.rename(columns={'proba':'proba_max'})
df2 = (df
        .sort_values('datetime',ascending=0)
        .drop_duplicates(subset=['sym'], keep='first'))
df2 = df2[['sym', 'datetime', 'proba']]
df2 = df2.rename(columns={'datetime':'datetime_last', 'proba':'proba_last'})
df = pd.merge(df1, df2, how='left', on='sym')
df

   sym  proba_max       datetime_last  proba_last
0  PCG   0.456220 2020-11-30 13:04:00    0.202213
1  SNE   0.264208 2020-11-30 10:50:00    0.264208
2  CHL   0.217935 2020-11-30 13:53:00    0.084958
3    D   0.033708 2020-11-30 14:23:00    0.033708

# Notes
https://docs.databricks.com/_static/notebooks/mlflow/mlflow-end-to-end-example-aws.html